<!DOCTYPE html>
<html>
<head>
        <meta charset="utf-8" />
        <title>Test métier Smart Impulse</title>
        <style type="text/css">
                body {
                        font: 18px/1.5em Helvetica, Arial, sans-serif;
                }

                h2 {
                        font: normal 32px Helvetica, Arial, sans-serif;
                }

                #header {
                        text-align: center;
                        width: 900px;
                        margin: auto;
                }

                #content {
                        width: 880px;
                        margin: 0 auto;
                        padding: 10px;
                }

                #main {
                        height: 600px;
                }
        </style>
        <script src="https://cdn.jsdelivr.net/npm/echarts@5.2.1/dist/echarts.js" integrity="sha256-zV9ArBpbKD/jm+76tSTB7DUFS75h/TOOvcjyRA1Ou6Q=" crossorigin="anonymous"></script>
</head>
<body>

        <div id="header">
                <h2>Test métier Smart Impulse</h2>
        </div>

        <div id="content">

                <div>
                  <input type="radio" name="chart_type" onclick="async_draw()" value="power" checked><label>Puissance</label>
                  <input type="radio" name="chart_type" onclick="async_draw()" value="energy"><label>Énergie</label>
                </div>

                <div id="installations"></div>

                <div id="main"></div>

        </div>
        <script type="text/javascript">

          "use strict";

          const PARAMS = {"power": {"url": {% url "power" %}, "drawing_type": "line"},
                          "energy": {"url": {% url "energy" %}, "drawing_type": "bar"}}

          const myChart = echarts.init(document.getElementById("main"));

          window.onload = function() {
              fetch({% url "installations" %}).then(r => r.json()).then(result => {
                  const container = document.getElementById("installations")
                  for (const index in result["data"]) {
                      const installation = result["data"][index]
                      const input = document.createElement("input");
                      input.type = "radio";
                      input.name = "installations";
                      input.value = installation;
                      input.onclick = async_draw;
                      if (index == 0) {input.checked = true}
                      container.appendChild(input);
                      const text = document.createTextNode(installation);
                      container.appendChild(text);
                  }
              }).then(async_draw)
          }

          function draw(result, drawing_type) {
              const categories = result["categories"]
              
              let sum_data = []
              for (const item in result["data"]) {
                  sum_data.push([parseInt(item), result["data"][item]["Total"]])
              }

              let series = [{"name": "Total",
                             "type": "line",
                             "symbol": "none",
                             "data": sum_data}]
              
              for (const category of categories) {
                  const serie = {"name": category,
                                 "type": drawing_type,
                                 "stack": "Total",
                                 "symbol": "none",
                                 "areaStyle": {},
                                 "data": []}
                  for (const item in result["data"]) {
                      serie["data"].push([parseInt(item), result["data"][item][category]])
                  }
                  series.push(serie)
              }
              
              const options = {
                  "legend": {"data": ["Total"].concat(categories)},
                  "xAxis": {"type": "time",
                            "axisLabel": {
                                "formatter": function (value) {
                                    const date = new Date(value);
                                    return date.toLocaleDateString("fr");
                                }
                            }
                           },
                  "yAxis": {"type": "value"},
                  "series": series
              };
              
              myChart.clear()
              myChart.setOption(options);
          }

          function get_installation() {
              return document.querySelector('input[name="installations"]:checked').value
          }

          function get_chart_type() {
              return document.querySelector('input[name="chart_type"]:checked').value
          }

          function async_draw() {
              const installation = get_installation()
              const chart_type = get_chart_type()
              const url = PARAMS[chart_type]["url"]
              const drawing_type = PARAMS[chart_type]["drawing_type"]
              fetch(`${url}?installation=${installation}`).then(r => r.json()).then(result => {
                  draw(result, drawing_type)
              });
          }
                    
        </script>
</body>
</html>
